body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    padding: 25px 300px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

button {
    height: 50px;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(254,251,251);
}

.container > button {
    align-self: center;
    margin-top: 50px;
}

#book-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#book {
    border-radius: 10px;
    background-color: rgb(254,251,251);
}

input{
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
}

#book-info > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#book-info > div > span {
    font-size: 20px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 70px 300px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: white;
}

 .grid-item > button {
    margin-bottom: 20px;
    width: min(300px, 70%);   
}

.grid-item > p {
    font-size: 20px;
}
